// Palette
$color-red: #ff6666;
$color-grey-darkest: #333;
$color-grey-dark: #666;
$color-white: #fff;

// Fonts

$font-family-body: 'Fauna One', serif;
$font-family-heading: 'Playfair Display', serif;

$body-color: $color-grey-dark;
$heading-color: $color-grey-darkest;

// Spacing

$spacing-root: 5vw;

$spacing: 1em;
$spacing-sm: $spacing / 2;
$spacing-lg: $spacing * 2;

// Container

$container-max-width: 25em;

// Border radius

$border-radius: .25em;
