// Palette
$color-blue: #14558d;
$color-orange: #ee5a30;
$color-yellow-light: #fef7d3;

$color-red: #f66;
$color-grey-darkest: #333;
$color-grey-dark: #666;
$color-grey: #ccc;

$color-white: #fff;

$color-darken: rgba(0, 0, 0, .05);
$color-darken-more: rgba(0, 0, 0, .1);

$color-lighten: rgba(255, 255, 255, .5);
$color-lighten-more: rgba(255, 255, 255, .75);

// Fonts

$font-family-body: 'Fauna One', serif;
$font-family-heading: 'Playfair Display', serif;

$body-color: $color-grey-dark;
$heading-color: $color-grey-darkest;

// Spacing

$spacing-root: 5vw;

$spacing: 1em;
$spacing-sm: $spacing / 2;
$spacing-lg: $spacing * 1.5;

// Container

$container-max-width: 20em;

// Border radius

$border-radius: .25em;

// Transitions

$transition-duration: .2s;
$transition-easing: ease-in-out;
