// Palette
$color-red: #ff6666;
$color-grey-darkest: #333;
$color-grey-dark: #666;

// Fonts

$font-family-body: 'Fauna One', serif;
$font-family-heading: 'Playfair Display', serif;

$body-color: $color-grey-dark;
$heading-color: $color-grey-darkest;

// Spacing

$spacing-root: 5vw;

// Container

$container-max-width: 42em;
