* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $body-color;
  font-family: $font-family-body;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  line-height: (30 / 16);
  margin: 0;
  overflow-x: hidden;
  padding: 0 $spacing-root;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $font-family-heading;
  font-weight: 400;
  line-height: 1.2;
  margin: $spacing-lg 0 $spacing-sm;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
}

h2 {
  color: $color-orange;
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0 0 $spacing;
  max-width: 30em;
}

label {
  cursor: pointer;
}

.js {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    opacity: 0;
    transition: opacity $transition-duration $transition-easing;
  }
}

.wf-active,
.wf-inactive {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    opacity: 1;
  }
}

.lead {
  font-size: 1.25em;
}
