.btn {
  background: $color-red;
  border: 0;
  border-radius: $border-radius;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: $spacing-sm $spacing;
  text-decoration: none;

  &:hover {
    background: darken($color-red, 5%);
  }
}
