.header {
  background: $color-yellow-light;
  box-shadow: 0 0 .25em 0 $color-darken;
  color: $color-blue;
  margin: 0 (-$spacing-root);
  padding: $spacing-root;

  &__inner {
    margin: auto;
    max-width: $container-max-width;
  }

  &__title {
    color: inherit;
    left: -.05em;
    margin: 0;
    position: relative;
  }

  &__heart {
    color: $color-orange;
    font-size: .5em;
  }
}
