.header {
  margin: $spacing-root 0;

  &__title {
    margin: 0;
    position: relative;
    left: -.05em;

    &::after {
      content: '\2665';
      font-size: .25em;
      color: $color-red;

    }
  }
}
