.location {
  margin: auto;
  max-width: $container-max-width;

  &__link {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  &__address {
    span {
      display: block;

      &::after {
        content: ',';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
