.location {
  text-align: left;

  &__details {

  }

  &__link {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  &__address {
    span {
      display: block;
    }
  }

  @media screen and (min-width: 45em) {
    &__inner {
      display: flex;
    }

    &__details,
    &__address {
      flex: 1 0 auto;
    }
  }
}
