.location {
  margin: auto;
  max-width: $container-max-width;

  &__address {
    span {
      display: block;

      &::after {
        content: ',';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
